list-items {
  
  ion-note {
    font-size: 12px;
    color: rgba(0,0,0,0.8);
  }

  .list-item-title {
    font-size: 16px;
    padding: 0 6px;
    vertical-align: middle;
    margin-top: 6px;
  }

  .listItemState2 > * {
    text-decoration: line-through;
    color: rgba(0,0,0,0.61);
  }

  .wordwrap { 
    white-space: normal;      /* CSS3 */   
    white-space: -moz-pre-wrap; /* Firefox */    
    white-space: -pre-wrap;     /* Opera <7 */   
    white-space: -o-pre-wrap;   /* Opera 7 */    
    word-wrap: break-word;      /* IE */
  }
}