<ion-header>
    <ion-navbar>
        <ion-title>Items</ion-title>
        <ion-buttons end>
            <button ion-button (click)="showItemActions()">
        <ion-icon name="options"></ion-icon>
      </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <div *ngIf="!itemsLoaded">
        <img src="assets/images/ring.gif" style="display:block; margin:auto" />
    </div>
    <ion-list *ngIf="itemsLoaded">
       
        <ion-item-sliding *ngFor="let item of items">
            <ion-item (click)="selectItem(item)" class="listItemState{{item.state}}" text-wrap>
                <h2 class="list-item-title">{{item.text}}</h2>
                <button ion-button clear item-right *ngIf="item.qt">{{item.qt}}</button>
            </ion-item>
            <ion-item-options side="right">
                <button ion-button color="danger" (click)="removeItem(item)">
                    <ion-icon name="trash"></ion-icon> 
                    Delete
                </button>
            </ion-item-options>
        </ion-item-sliding>

    </ion-list>
    
    <ion-fab right bottom>
        <button ion-fab color="primary"><ion-icon name="add" (click)="createItem()"></ion-icon></button>
    </ion-fab>
</ion-content>